# Changelog {{project_name}}

All notable changes to this project will be documented in this file. This project
adheres to [PEP 440](https://www.python.org/dev/peps/pep-0440/) versioning schema, and
the changelog itself conforms to [Keep A Changelog](https://keepachangelog.com/).

## v{version} ({date})

> 😎 are allowed!

### BREAKING CHANGE

-   TODO: add breaking change or delete chapter 


### Added

-   TODO: list new functions or delete chapter 

### Changed

-   TODO: list changed functions or delete chapter 

### Deprecated

-   TODO: list deprecated functions or delete chapter 

### Removed

-   TODO: list removed functions or delete chapter 

### Feat

-   TODO: add feature  

### Fix

-   TODO: add fix 

### Refactor

-   TODO: add refactor or delete chapter

### Perf

-   TODO: add performance or delete chapter 

