# README {{project_name}}

## Table of Contents
1. [Introduction](#introduction)
2. [Features](#features)
3. [Installation](#installation)
4. [Usage](#usage)
5. [Contributing](#contributing)
6. [License](#license)
7. [Contact](#contact)

## Introduction

This template is designed to streamline the creation of Python projects by leveraging the [Copier](https://copier.readthedocs.io/) project. Copier is a powerful tool for generating project scaffolding, allowing you to create consistent and customizable project structures with ease. By using this template, you can quickly set up a new Python project with predefined configurations and best practices, saving time and ensuring a solid foundation for your development work.

[![Made with Copier](https://img.shields.io/endpoint?url=https://raw.githubusercontent.com/copier-org/copier/master/img/badge/badge-grayscale-inverted-border-orange.json)](https://github.com/copier-org/copier)


## Features

TODO: List your key features and functionalities of the project.

## Installation

> [!Important]
> It is better to use `python -m pip {command} {parameters}` than `pip`.
> It is also good praxis to use a virtual environment for your project.

TODO: Explain how to install and set up the project locally.

## Usage

> [!Note] Template
> If you want to use this template for your project see [])(README_template.md)


TODO: Provide examples or instructions on how to use the project.

## Contributing

- `poetry run mkdocs serve`
- `poetry run mkdocs build`

TODO: Outline how others can contribute to the project.

## License

TODO: Specify the license under which the project is distributed.

## Contact

For any questions or feedback, please use the issues section on [GitHub](https://github.com/) or [GitLab](https://gitlab.com/) to contact the development team. We will respond as soon as possible.
