import click
from {{package_name}} import __version__ as version
@click.group()
def cli():
    """A simple CLI tool."""
    pass

@cli.command()
def version():
    """Show the version of the tool."""
    click.echo(f"Tool Version: {version}")

@cli.command()
@click.argument('package_name')
def install(package_name):
    """Install a package."""
    click.echo(f"Installing package: {package_name}")

if __name__ == "__main__":
    cli()